<!DOCTYPE html>
<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Atletas</title>
</head>
<body>
<h1>Los siguientes datos son los que se pueden editar de un condominio:</h1>
<form action="#" th:action="@{/editarCondominio/{id}(id= ${id})}" th:object="${condominio}" method="post">

    <table>
        <tr>
            <td><label for="estado">estado</label></td>
            <td><input type="text" th:field="*{estado}" id="estado"></td>
        </tr>
        <input type="submit" value="Guardar cambios">
    </table>
    <br>
    <a th:href="@{/verCondominio/{id}(id= *{id})}">Volver al detalle del condominio</a>
    <br>
</form>

<a href="/">Ir a casa</a>
</body>
</html>