<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro de alto rendimiento</title>
</head>
<body>
<div>
  <h1>Resultados fisiológicos de los atletas</h1>
  <ul>
      <li><a href="/listarCondominio">Listar Condominios</a></li>
      <li><a href="/listarAmenidades">Listar Amenidades</a></li>
      <li><a href="/listarCuotasCondominal">Listar Cuotas Condominal</a></li>
      <li><a href="/crearCondominios">Registrar un condominio</a></li>
  </ul>
</div>
</body>
</html>