<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar condominios</title>
</head>
<body>
<div>
    <h1>Lista de condominios</h1>
    <ul>
        <div th:each="entry : ${condominios}">
            <li>
                <h4>
                    <span th:text="${entry.nombre}">Nombre</span>
                </h4>
                <a th:href="@{/verCondominio/{id}(id= ${entry.id})}">Ver detalle</a>
            </li>
        </div>
    </ul>
</div>
<a href="/">Ir a casa</a>
</body>
</html>